*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(238, 238, 238);
    padding: 10px;
}

header{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

header > img.logo{
    height: 70px;
    vertical-align: top;
}

h1.ex-title{
    display: inline-block;
    font-size: 3rem;
}

main{
    background-color: white;
    margin: 50px auto;
    height: 600px;
    width: 60%;
    border-radius: 5px;
}

main > section.inputs{
    border-bottom: 2px solid rgb(238, 238, 238);
    padding: 20px 50px;
}

main a{
    text-decoration: none;
}

main a > div.button{
    color: white;
    background-color: rgb(0, 174, 255);
    display: inline-block;
    margin-right: 5px;
    padding: 8px;
    border-radius: 5px;
}

section.inputs > div.searchbar{
    display: inline-block;
    border: 2px solid rgb(207, 207, 207);
    border-radius: 5px;
    padding: 7px;
    color: rgb(207, 207, 207);
}

main > section.list{
    padding: 10px 50px;
}

section.list > ul{
    margin-bottom: 30px;
    /* list-style-type: none; */
    margin-left: 20px;
}

